In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [2]:
#This is a comment
print("Hello World")

Hello World

In [4]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

In [5]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
x,y,z = "one","two","three"

print(x)
print(y)
print(z)

one
two
three

In [7]:
x = y = z = "four"

print(x)
print(y)
print(z)

four
four
four

In [8]:
x = "enjoying"
print("Pyhton Programming is " + x)

Pyhton Programming is enjoying

In [10]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

In [11]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

In [13]:
a,b,c = 0,-1,6
c%=3
c

0

In [14]:
a,b,c = 0,-1,6
a>b and c>b

True

In [15]:
a,b,c = 0,-1,6
a is c

False